body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

table,
th,
td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

th {
  background-color: #f1eeee;
}

td {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}